body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('images/background.jpg');
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    margin-bottom: 5px;
}

a {
    color: rgb(55, 133, 49);
    text-decoration: none;
}

.white.container {
    background-color: rgb(252, 242, 230);
    padding: 10px 0px 10px 0px;
    border-radius: 15px;
    width: 500px;
    margin:auto;
}

li :hover {
    font-weight: bolder;
    color:rgb(18, 183, 42);
}